// Header contacts
.header-contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:first-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 32px;
      }
    }
    &:not(:last-child) {
      @media screen and (min-width: 768px) {
        margin-bottom: 10px;
      }
      @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-right: 30px;
      }
    }
  }
  &__link {
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition: color 250ms $transition-time;

    &--accent {
      @media screen and (max-width: 767px) {
        font-size: 34px;
        line-height: 1.18;

        color: $accent-color;
      }

      @media screen and (max-width: 479px) {
        font-size: 26px;
      }
    }

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      font-size: 12px;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__icon {
    margin-right: 8px;
    fill: currentColor;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

// Footer address and contacts
.footer-contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  &__address {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }

  &__list {
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
      width: 231px;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  &__location {
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    color: $text-white-color;
    transition: color 250ms $transition-time;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__link {
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    color: $address-contact-color;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
