.logo {
  font-family: Raleway, cursive;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  color: $black-color;
  &-accent {
    color: $accent-color;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer__logo {
  color: $text-white-color;
}
