.modal-form {
	width: 100%;
	height: 100%;
	&__title {
		display: block;
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.15;
		text-align: center;
		letter-spacing: 0.03em;
		color: $title-text-color;
	}
}
.label {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	&__text {
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.01em;
		color: $primary-text-color;
	}
	&__input {
		margin-top: 4px;
		width: 100%;
		height: 40px;
		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
		padding: 12px 12px 12px 42px;
		outline: none;
		cursor: pointer;
		transition: border-color 250ms $transition-time;
	}
	&__icon {
		position: absolute;
		top: 50%;
		left: 12px;
		display: inline-block;
		color: $black-color;
		fill: currentColor;
		cursor: pointer;
		pointer-events: none;
		transition: fill 250ms $transition-time;
	}
	&:hover,
	&:focus {
		.label__input,
		.label__textarea {
			border-color: $second-accent-color;
		}
		.label__icon {
			fill: $second-accent-color;
		}
	}
	&__textarea {
		margin-top: 4px;
		resize: none;
		padding: 12px 16px;
		width: 100%;
		height: 120px;
		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
		outline: none;
		transition: border-color 250ms $transition-time;
		&::placeholder {
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.01em;
			color: rgba(117, 117, 117, 0.5);
		}
	}
}

.modal-checkbox {
	&__label {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	&__input {
		@extend %visually-hidden;
		&:hover,
		&:focus {
			+ .modal-checkbox__icon {
				border-color: $accent-color;
				background-image: url(../images/icons.svg/icon-check.svg);
			}
		}
		&:checked {
			+ .modal-checkbox__icon {
				border-color: transparent;
				background-color: $accent-color;
				background-image: url(../images/icons.svg/icon-check.svg);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				background-origin: content-box;
				transition: background-image 250ms $transition-time;
			}
		}
	}
	&__icon {
		display: inline-block;
		width: 16px;
		height: 15px;
		border: 2px solid $title-text-color;
		border-radius: 2px;
		margin-right: 7px;
		background-color: $modal-bgc;
		transition: border-color 250ms $transition-time;
		transition: background-color 250ms $transition-time;
	}
	&__text {
		line-height: 1.71;
	}
	&__contract {
		line-height: 1.71;
		outline: 0;
		outline-offset: 0;
		text-decoration-line: underline;
		color: $accent-color;

		opacity: 0.7;
		transition: opacity 250ms $transition-time;
		&:hover,
		&:focus {
			opacity: 1;
			cursor: pointer;
		}
	}
}

.modal-button-send {
	padding: 10px 55px;
	margin: 0px auto;
	transition: background-color 250ms $transition-time, border-shadow 250ms $transition-time;
	&:hover,
	&:focus {
		background-color: $second-accent-color;
		box-shadow: $button-primary-shodow;
	}
}
