/* ---ACTIVITY--- */

.activity {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-top: 0px;
  padding-bottom: 94px;
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $text-white-color;
    background-color: $activity-bg-color;
  }
}
