/* ---CLIENTS--- */
.clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    border: 1px solid $clients-icon-color;
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;
    color: $clients-icon-color;
    fill: currentColor;
    transition: background-color 250ms $transition-time, fill 250ms $transition-time;
    &:hover,
    &:focus {
      border-color: $accent-color;
      fill: $accent-color;
    }
  }
  &__item {
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      flex-basis: calc((100% - 5 * 30px) / 6);
    }
  }
}
