/* ---FOOTER--- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $second-bgc;
  &__container {
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
