/* ---------------------------------------TEAM------------------------------------------- */
.team {
	text-align: center;
	background-color: $teams-bgc;
	&__list {
		display: flex;
	}
	&__item {
		background-color: $white-color;
		box-shadow: $team-list-item-shadow;
		border-radius: 0px 0px 4px 4px;
	}
	&__item:not(:last-child) {
		margin-right: 30px;
	}
	&__content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&__sub-title {
		margin-bottom: 10px;

		font-weight: 500;
		font-size: 16px;
		line-height: 1.19;
		color: $title-text-color;
	}
	&__position {
		font-size: 16px;
		line-height: 1.19;
		margin-bottom: 16px;
	}
}

.team-networks {
	&__list {
		display: flex;
		justify-content: center;
	}
	&__item:not(:last-child) {
		margin-right: 10px;
	}
	&__link {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $teams-icon-color;
		fill: currentColor;
		transition: background-color 250ms $transition-time, fill 250ms $transition-time;
		&:hover,
		&:focus {
			background-color: $accent-color;
			fill: $white-color;
		}
	}
}
